extends ./layout

block content
	.contrainer
		.row
			each item in books
				.col-md-2
					.thumbnail
						a(href="/book/#{item._id}")
							img(src="#{item.cover}",alt="#{item.title}")
						.caption
							h3 #{item.title}
							p: a.btn.btn-primary(href="/book/#{item._id}",role="button")
								查看图书